# Ignore everything
*

# Allow files and directories
!/Cargo.lock
!/Cargo.toml
!/config.toml
!/docker/entrypoint.sh
!/lib
!/primitives
!/raiko-guests
!/raiko-host
!/rust-toolchain
!/taiko.toml
!/tests
# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/raiko-host/guests/sgx
