# Ignore everything
*

# Allow files and directories
!/Cargo.lock
!/Cargo.toml
!/config.json
!/docker/entrypoint.sh
!/docker/enclave-key.pem
!/lib
!/primitives
!/provers
!/host
!/pipeline
!/harness
!/rust-toolchain
!/taiko.toml
!/tests
!/provers/sgx/setup
!/kzg_settings_raw.bin
!/core
!/taskdb
!/makefile
!/script
!/reqpool
!/reqactor
!/ballot
!/redis-derive
