[workspace]

[package]
name = "sp1-guest"
version = "0.1.0"
edition = "2021"

[lib]
name = "zk_op"
path = "src/zk_op.rs"

[[bin]]
name = "sha256"
path = "src/benchmark/sha256.rs"

[[bin]]
name = "ecdsa"
path = "src/benchmark/ecdsa.rs"

[[bin]]
name = "bn254_add"
path = "src/benchmark/bn254_add.rs"

[[bin]]
name = "bn254_mul"
path = "src/benchmark/bn254_mul.rs"


# [[test]]
# name = "main"
# path = "src/main.rs"
# harness = false

[dependencies]
raiko-lib = { path = "../../../lib", features = ["std", "sp1"] }
sp1-zkvm ={ git = "https://github.com/succinctlabs/sp1.git", branch = "main" }
revm-precompile = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-kzg", default-features = false, features = [
    "taiko",
    "std",
    "c-kzg",
] }
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-v0.10.8" }
sp1-precompiles = { git = "https://github.com/succinctlabs/sp1.git", branch = "main"}
harness-core = { path = "../../../harness/core" }
harness = { path = "../../../harness/macro", features = ["sp1"]}
substrate-bn = "0.6.0"

[patch.crates-io]
blst = { git = "https://github.com/CeciliaZ030/blst.git", branch = "serialize", features = ["portable", "no-threads"]}
# Cant's use ZkOp for keccak since it's not precompile
ecdsa = { git = "https://github.com/taikoxyz/signatures.git", branch = "0.16.9", package = "ecdsa" }
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", branch = "patch-v2.0.2" }
revm = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-kzg" }
revm-primitives = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-kzg" }
secp256k1 = { git = "https://github.com/CeciliaZ030/rust-secp256k1", branch = "sp1-patch" }

[features]
sp1-cycle-tracker = [
    "raiko-lib/sp1-cycle-tracker",
    "revm-precompile/sp1-cycle-tracker"
]
