[workspace]

[package]
name = "sp1-guest"
version = "0.1.0"
edition = "2021"

[lib]
name = "zk_op"
path = "src/zk_op.rs"

[[bin]]
name = "sp1-aggregation"
path = "src/aggregation.rs"

[[bin]]
name = "sp1-batch"
path = "src/batch.rs"

[[bin]]
name = "sha256"
path = "src/benchmark/sha256.rs"

[[bin]]
name = "ecdsa"
path = "src/benchmark/ecdsa.rs"

[[bin]]
name = "bn254_add"
path = "src/benchmark/bn254_add.rs"

[[bin]]
name = "bn254_mul"
path = "src/benchmark/bn254_mul.rs"


# [[test]]
# name = "main"
# path = "src/main.rs"
# harness = false

[dependencies]
raiko-lib = { path = "../../../lib", features = ["std", "sp1"] }
sp1-zkvm = { version = "4.1.7", features = ["verify"] }
sp1-curves = { version = "4.1.7" }
sha2 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", tag = "patch-sha2-0.10.8-sp1-4.0.0" }
harness-core = { path = "../../../harness/core" }
harness = { path = "../../../harness/macro", features = ["sp1"] }
substrate-bn = { git = "https://github.com/sp1-patches/bn", tag = "patch-0.6.0-sp1-4.0.0" }
revm-precompile = { git = "https://github.com/NethermindEth/surge-revm.git", branch = "feat/surge-reth-integration", default-features = false, features = [
    "taiko",
    "std",
    "c-kzg",
] }
bincode = "1.3.3"
reth-primitives = { git = "https://github.com/NethermindEth/surge-reth.git", branch = "feat/surge-related-changes", default-features = false, features = [
    "alloy-compat",
    "secp256k1",
] }
lazy_static = "1.5.0"
num-bigint = { version = "0.4.6", default-features = false }
k256 = { git = "https://github.com/sp1-patches/elliptic-curves", tag = "patch-k256-13.4-sp1-4.1.0" }

[patch.crates-io]
revm = { git = "https://github.com/NethermindEth/surge-revm.git", branch = "feat/surge-reth-integration" }
revm-precompile = { git = "https://github.com/NethermindEth/surge-revm.git", branch = "feat/surge-reth-integration" }
revm-primitives = { git = "https://github.com/NethermindEth/surge-revm.git", branch = "feat/surge-reth-integration" }
c-kzg = { git = "https://github.com/brechtpd/c-kzg-4844", branch = "for-alpha7" }
blst = { git = "https://github.com/CeciliaZ030/blst.git", branch = "v0.3.12-serialize" }
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", tag = "patch-sha2-0.10.8-sp1-4.0.0" }
sha3-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha3", tag = "patch-sha3-0.10.8-sp1-4.0.0" }
crypto-bigint = { git = "https://github.com/sp1-patches/RustCrypto-bigint", tag = "patch-0.5.5-sp1-4.0.0" }
tiny-keccak = { git = "https://github.com/sp1-patches/tiny-keccak", tag = "patch-2.0.2-sp1-4.0.0" }
# curve25519-dalek = { git = "https://github.com/sp1-patches/curve25519-dalek", tag = "patch-4.1.3-sp1-4.0.0" }
# curve25519-dalek-ng = { git = "https://github.com/sp1-patches/curve25519-dalek-ng", tag = "patch-4.1.1-sp1-4.0.0" }
substrate-bn = { git = "https://github.com/sp1-patches/bn", tag = "patch-0.6.0-sp1-4.0.0" }
# bls12_381 = { git = "https://github.com/sp1-patches/bls12_381", tag = "patch-0.8.0-sp1-4.0.0-v2" }
# rsa = { git = "https://github.com/sp1-patches/RustCrypto-RSA", tag = "patch-0.9.6-sp1-4.0.0-v2" }
k256 = { git = "https://github.com/sp1-patches/elliptic-curves", tag = "patch-k256-13.4-sp1-4.1.0" }
p256 = { git = "https://github.com/sp1-patches/elliptic-curves", tag = "patch-p256-13.2-sp1-4.1.0" }
secp256k1 = { git = "https://github.com/sp1-patches/rust-secp256k1", tag = "patch-0.29.1-sp1-4.1.0" }

[features]
default = ["sp1-cycle-tracker"]
sp1-cycle-tracker = [
    "raiko-lib/sp1-cycle-tracker",
    "revm-precompile/sp1-cycle-tracker",
]
