[workspace]

[package]
name = "risc0-guest"
version = "0.1.0"
edition = "2021"

[lib]
name = "zk_op"
path = "src/zk_op.rs"

# deprecated binary target for ontake fork block processing
# [[bin]]
# name = "risc0-block"
# path = "src/block.rs"

[[bin]]
name = "risc0-aggregation"
path = "src/aggregation.rs"

[[bin]]
name = "risc0-batch"
path = "src/batch.rs"

[[bin]]
name = "boundless-aggregation"
path = "src/boundless_agg.rs"

[[bin]]
name = "boundless-batch"
path = "src/boundless_batch.rs"

[[bin]]
name = "boundless-shasta-aggregation"
path = "src/boundless_shasta_aggregation.rs"

[[bin]]
name = "risc0-shasta-aggregation"
path = "src/shasta_aggregation.rs"

[[bin]]
name = "sha256"
path = "src/benchmark/sha256.rs"

[[bin]]
name = "ecdsa"
path = "src/benchmark/ecdsa.rs"

[dependencies]
raiko-lib = { path = "../../../lib", features = ["std", "risc0"] }
risc0-zkvm = { version = "3.0.3", default-features = false, features = [
    'std',
    "getrandom",
    "heap-embedded-alloc",
    "unstable",
] }
risc0-zkvm-platform = { version = "=2.2.1", default-features = false, features = [
    "sys-getenv",
] }
k256 = { git = "https://github.com/risc0/RustCrypto-elliptic-curves", tag = "k256/v0.13.3-risczero.1" }
sha2 = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.6-risczero.0" }
harness-core = { path = "../../../harness/core" }
harness = { path = "../../../harness/macro", features = ["risc0"] }
revm-primitives = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-shasta", default-features = false, features = ["taiko"] }
revm-precompile = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-shasta", default-features = false, features = [
    "taiko",
    "std",
    "c-kzg",
] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
serde_with = { version = "3.0" }
bincode = { version = "1.3.3" }

[patch.crates-io]
revm = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-shasta" }
revm-primitives = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-shasta" }
revm-precompile = { git = "https://github.com/taikoxyz/revm.git", branch = "v36-taiko-shasta" }
c-kzg = { git = "https://github.com/brechtpd/c-kzg-4844", branch = "for-alpha7" }
blst = { git = "https://github.com/smtmfft/blst.git", branch = "v0.3.15-serialize" }
crypto-bigint = { git = "https://github.com/risc0/RustCrypto-crypto-bigint", tag = "v0.5.2-risczero.0" }
k256 = { git = "https://github.com/risc0/RustCrypto-elliptic-curves", tag = "k256/v0.13.4-risczero.1" }
sha2 = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.6-risczero.0" }
tiny-keccak = { git = "https://github.com/risc0/tiny-keccak", tag = "tiny-keccak/v2.0.2-risczero.0"}
substrate-bn = { git = "https://github.com/risc0/paritytech-bn", tag = "v0.6.0-risczero.0" }
p256 = { git = "https://github.com/risc0/RustCrypto-elliptic-curves", tag = "p256/v0.13.2-risczero.1" }
