services:
  init:
    build:
      context: ..
      dockerfile: Dockerfile
    image: gcr.io/evmchain/raiko:latest
    container_name: raiko-init
    command: --init
    devices:
      - "/dev/sgx_enclave:/dev/sgx_enclave"
      - "/dev/sgx_provision:/dev/sgx_provision"
    volumes:
      - /var/log/raiko:/var/log/raiko
      - ${HOME}/.config/gramine:/root/.config/gramine
      - ${HOME}/.config/raiko:/root/.config/raiko
    # environment:
    # you can use your own PCCS host
    #- PCCS_HOST=host.docker.internal:8081
    depends_on:
      - pccs
  init-self-register:
    build:
      context: ..
      args:
        ENABLE_SELF_REGISTER: "true"
      dockerfile: Dockerfile
    image: gcr.io/evmchain/raiko:latest
    container_name: raiko-init-self-register
    command: --init-self-register
    devices:
      - "/dev/sgx_enclave:/dev/sgx_enclave"
      - "/dev/sgx_provision:/dev/sgx_provision"
    volumes:
      - /var/log/raiko:/var/log/raiko
      - ${HOME}/.config/gramine:/root/.config/gramine
      - ${HOME}/.config/raiko:/root/.config/raiko
      - ${HOME}/.config/raiko/config/config.sgx.json:/root/.config/raiko/config/config.sgx.json
      - ${HOME}/.config/raiko/config/chain_spec_list.docker.json:/root/.config/raiko/config/chain_spec_list.docker.json
    environment:
      - SENDER_PRIV_KEY=${SENDER_PRIV_KEY}
      - HOLESKY_RPC=${HOLESKY_RPC}
      - HOLESKY_BEACON_RPC=${HOLESKY_BEACON_RPC}
      - TAIKO_A7_RPC=${TAIKO_A7_RPC}
      #- PCCS_HOST=host.docker.internal:8081
    depends_on:
      - pccs
  raiko:
    build:
      context: ..
      dockerfile: Dockerfile
    image: gcr.io/evmchain/raiko:latest
    container_name: raiko
    command: --config-path=/root/.config/raiko/config/config.sgx.json --chain-spec-path=/root/.config/raiko/config/chain_spec_list.docker.json
    devices:
      - "/dev/sgx_enclave:/dev/sgx_enclave"
      - "/dev/sgx_provision:/dev/sgx_provision"
    volumes:
      - /var/log/raiko:/var/log/raiko
      - ${HOME}/.config/gramine:/root/.config/gramine
      - ${HOME}/.config/raiko:/root/.config/raiko
    ports:
      - "8080:8080"
    environment:
      # Set to 0 (which is the default) to run on real hardware; use 1 for testing
      - SGX_DIRECT=${SGX_DIRECT}
      - SGX_INSTANCE_ID=${SGX_INSTANCE_ID}
      - ETHEREUM_RPC=${ETHEREUM_RPC}
      - ETHEREUM_CHAIN_ID=${ETHEREUM_CHAIN_ID}
      - HOLESKY_RPC=${HOLESKY_RPC}
      - HOLESKY_BEACON_RPC=${HOLESKY_BEACON_RPC}
      - TAIKO_A7_RPC=${TAIKO_A7_RPC}
      # you can use your own PCCS host
      #- PCCS_HOST=host.docker.internal:8081
    # use the host's network to connect to the PCCS
    #extra_hosts:
    #  - "host.docker.internal:host-gateway"
    depends_on:
      - pccs
  raiko-self-register:
    build:
      context: ..
      dockerfile: Dockerfile
    image: gcr.io/evmchain/raiko:latest
    container_name: raiko-self-register
    command: --config-path=/root/.config/raiko/config/config.sgx.json --chain-spec-path=/root/.config/raiko/config/chain_spec_list.docker.json
    devices:
      - "/dev/sgx_enclave:/dev/sgx_enclave"
      - "/dev/sgx_provision:/dev/sgx_provision"
    volumes:
      - /var/log/raiko:/var/log/raiko
      - ${HOME}/.config/gramine:/root/.config/gramine
      - ${HOME}/.config/raiko:/root/.config/raiko
      - ${HOME}/.config/raiko/config/config.sgx.json:/root/.config/raiko/config/config.sgx.json
      - ${HOME}/.config/raiko/config/chain_spec_list.docker.json:/root/.config/raiko/config/chain_spec_list.docker.json
    ports:
      - "8080:8080"
    environment:
      # you can use your own PCCS host
      # - PCCS_HOST=host.docker.internal:8081
      - ETHEREUM_RPC=${ETHEREUM_RPC}
      - ETHEREUM_CHAIN_ID=${ETHEREUM_CHAIN_ID}
      - HOLESKY_RPC=${HOLESKY_RPC}
      - HOLESKY_BEACON_RPC=${HOLESKY_BEACON_RPC}
      - TAIKO_A7_RPC=${TAIKO_A7_RPC}
    # use the host's network to connect to the PCCS
    #extra_hosts:
    #  - "host.docker.internal:host-gateway"
    depends_on:
      - pccs
  pccs:
    build:
      context: ..
      dockerfile: Dockerfile.pccs
    image: gcr.io/evmchain/pccs:latest
    container_name: pccs
    volumes:
      - ${HOME}/.config/sgx-pccs/default.json:/opt/intel/pccs/config/default.json
      - ${HOME}/.config/sgx-pccs/file.crt:/opt/intel/pccs/ssl_key/file.crt
      - ${HOME}/.config/sgx-pccs/private.pem:/opt/intel/pccs/ssl_key/private.pem
