[package]
name = "sgx-guest"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "sgx-guest"
required-features = ["sgx"]

[dependencies]
raiko-lib = { workspace = true, features = ["sgx"] }
tokio = { workspace = true }
anyhow = { workspace = true }
thiserror = { workspace = true }
secp256k1 = { workspace = true, features = ["rand-std"] }
serde = { workspace = true }
rand = { workspace = true }
hex = { workspace = true }
clap = { workspace = true }
rand_core = { workspace = true }
sha3 = { workspace = true }
serde_json = { workspace = true }
base64-serde = { workspace = true }
base64 = { workspace = true }
dirs = { workspace = true }
bincode = { workspace = true }
axum = { workspace = true }

[features]
default = []
sgx = []
