[package]
version = "0.1.0"
name = "sp1-driver"
edition = "2021"

[[bench]]
name = "benchmark"
path = "src/benchmark.rs"
harness = true


[dependencies]
raiko-lib = { workspace = true, optional = true }
alloy-primitives = { workspace = true, optional = true }
alloy-sol-types = { workspace = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
sp1-sdk = { workspace = true, optional = true }
anyhow = { workspace = true, optional = true }
once_cell = { workspace = true, optional = true }
sha3 = { workspace = true, optional = true, default-features = false }
tracing = { workspace = true, optional = true }


[features]
enable = [
    "serde",
    "serde_json",
    "raiko-lib",
    "sp1-sdk",
    "anyhow",
    "alloy-primitives",
    "once_cell",
    "sha3",
    "tracing",
]
neon = ["sp1-sdk?/neon"]
