[package]
version = "0.1.0"
name = "sp1-driver"
edition = "2021"

[[bench]]
name = "benchmark"
path = "src/benchmark.rs"
harness = true

[dependencies]
raiko-lib = { workspace = true, optional = true }
alloy-primitives = { workspace = true, optional = true }
alloy-sol-types = { workspace = true }
serde = {  workspace = true , optional = true}
serde_json = { workspace = true , optional = true }
sp1-sdk = { workspace = true, optional = true }
anyhow = { workspace = true, optional = true }
once_cell = { workspace = true }
sha3 = { workspace = true, default-features = false}
reqwest = { workspace = true }
tokio-task-pool= { workspace = true }
log.workspace = true

[build-dependencies]
sp1-helper = { workspace = true, optional = true }
cargo_metadata = "0.18.1"
chrono = { version = "0.4.34", default-features = false, features = ["clock"] }
regex = "1.5.4"


[features]
enable = [
    "serde",
    "serde_json",
    "raiko-lib",
    "sp1-sdk",
    "anyhow",
    "sp1-helper",
    "alloy-primitives",
]
neon = ["sp1-sdk?/neon"]
