[package]
name = "sp1-builder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
raiko-pipeline = { path = "../../../pipeline", features = ["sp1"]}

[features]
test = []
bench = []