name: CI - Lint

on:
    pull_request:
      types: [opened, reopened, edited, synchronize]

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  clippy:
    name: clippy
    runs-on: [ubuntu-latest]
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: risc0/risc0/.github/actions/rustup@release-0.19

      - uses: risc0/risc0/.github/actions/sccache@release-0.19

      - uses: risc0/clippy-action@main
        with:
          reporter: 'github-pr-check'
          fail_on_error: true
          clippy_flags: --workspace --all-targets --all-features -- -D warnings

  fmt:
    name: fmt
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - uses: risc0/risc0/.github/actions/rustup@release-0.19

      - run: make fmt
