name: CI - RISC0

on:
  workflow_call:
  push:
    branches: ["main"]
    paths:
      - "provers/risc0/**"
  pull_request:
    paths:
      - "provers/risc0/**"
  merge_group:

jobs:
  build-test-risc0:
    name: Build and test risc0
    uses: ./.github/workflows/ci-build-test-reusable.yml
    with:
      version_name: "risc0"
      version_toolchain: "stable"

