name: CI - SGX Hardware

on: workflow_call

jobs:
  build-test-sgx-hardware:
    name: Build and test sgx in hardware
    runs-on: [self-hosted, sgx, linux]
    timeout-minutes: 120
    env:
      TARGET: sgx
      CI: 1
      EDMM: 0

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Install sgx
        run: make install

      - name: Build sgx prover
        run: make build

      - name: Test sgx prover
        run: make test
