name: CI

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  RISC0_VERSION: 0.20.1
  RISC0_TOOLCHAIN_VERSION: test-release-2

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-test-risc0:
    name: Build and test risc0
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@v1.6.4
    - name: Install cargo-risczero
      run: TARGET="risc0" make install
    - name: Build risc0 prover
      run: make risc0
  #  - name: Test risc0 prover
  #    run: cargo test -p risc0-driver --features enable

  build-test-sp1:
    name: Build and test sp1
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - name: Install sp1
        run: |
          curl -L https://sp1.succinct.xyz | bash
          echo "/home/runner/.config/.sp1/bin" >> $GITHUB_PATH
          /home/runner/.config/.sp1/bin/sp1up
      - name: Build sp1 prover
        run: make sp1
  #    - name: Test sp1 prover
  #      run: cargo test -p sp1-driver --features enable --release

  # build-test-sgx:
  #   name: Build and test sgx
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 60
  #   steps:
  #     - uses: actions/checkout@v4
  #     - run: scripts/toolchain-before.sh sgx
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #     - run: scripts/toolchain-after.sh sgx
  #     - name: Setup and build
  #       run: |
  #         cargo build --features sgx
  #         cargo test -p sgx-prover --features enable --release
  #       shell: bash

  # build-test-sgx-with-docker:
  #   name: Build and test sgx with Docker
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 60
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup and build
  #       run: |
  #         cd docker
  #         docker compose build --no-cache
  #       shell: bash

  # test-lib:
  #   name: Test raiko-lib
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 60
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #     - run: cargo test -p raiko-lib --features=std

  # clippy:
  #   name: clippy
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 30
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: risc0/risc0/.github/actions/rustup@release-0.19
  #   - uses: risc0/risc0/.github/actions/sccache@release-0.19
  #   - uses: risc0/clippy-action@main
  #     with:
  #       reporter: 'github-pr-check'
  #       fail_on_error: true
  #       clippy_flags: --workspace --all-targets --all-features -- -Dwarnings

  # fmt:
  #   name: fmt
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 10
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: risc0/risc0/.github/actions/rustup@release-0.19
  #   - run: cargo fmt --all --check
