name: OpenAPI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
  pull_request:
  merge_group:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-docs:
    name: Generate OpenAPI docs
    runs-on: [taiko-runner]
    if: github.event.pull_request.draft == false
    environment:
      name: ${{ (github.ref == 'refs/heads/main') && 'github-pages' || 'test-environment' }}
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2024-04-17
          profile: minimal

      - name: Run docs generation binary
        run: ./script/generate-docs.sh

      - name: Setup Pages
        if: github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v3

      - name: Upload artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v2
        with:
          path: "./openapi"

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/deploy-pages@v2
